extends layout

block content
  p
    :markdown
      Ship It is a utility that submits projects to the [Hack Club Project
      Gallery](https://shipped.hackclub.io).

      It forks the [hackclub/shipped](https://github.com/hackclub/shipped)
      repository and submits a pull request to add a new project for you.
  .auth
    a(href='/auth/github' class='github-login')
      | Login with <span class="github">GitHub</span>
