extends layout

block content
  h1 New Project

  form(action='/projects', method='post')
    label(for='name') Name
      br
      input#name(type='text', name='name', placeholder='Yelp For Yelp Reviews')
    br
    label(for='description') Description
      br
      textarea#description(name='description',
        placeholder="It's like Yelp, but for Yelp reviews.")
    br
    label(for='url') URL <small>Optional</small>
      br
      input#url(type='text', name='url',
      placeholder='https://yelpforyelpreviews.com')
    br
    label(for='githubURL') GitHub Repo URL
      br
      input#githubURL(type='text', name='githubURL',
      placeholder="https://github.com/hackedu/yelp-for-yelp-reviews")
    br
    label(for='club') Club
      br
      select#clubs(name='clubs')
        option(value='Austin High School') Austin High School
        option(value='Bronx High School of Science') Bronx High School of Science
        option(value='Cherry Hill High School East') Cherry Hill High School East
        option(value='Cranbrook Schools') Cranbrook Schools
        option(value='El Segundo High School') El Segundo High School
        option(value='Elizabeth High School') Elizabeth High School
        option(value='Gig Harbor High School') Gig Harbor High School
        option(value='Gunn High School') Gunn High School
        option(value='International Academy East') International Academy East
        option(value='Lower Moreland High School') Lower Moreland High School
        option(value='Middlesex County Academy') Middlesex County Academy
        option(value='Mission Vista High School') Mission Vista High School
        option(value='Mundelein High School') Mundelein High School
        option(value='Radnor High School') Radnor High School
        option(value='Ravenwood High School') Ravenwood High School
        option(value='San Mateo High School') San Mateo High School
        option(value='Santa Teresa High School') Santa Teresa High School
        option(value='South Brunswick High School') South Brunswick High School
        option(value='The Shri Ram School - DLF Campus') The Shri Ram School - DLF Campus
        option(value='Thunderridge High School') Thunderridge High School
        option(value='Townsend Harris High School') Townsend Harris High School
        option(value='Twin Cities Academy') Twin Cities Academy
        option(value='West Orange High School') West Orange High School
    br
    label#authors Authors #[a#add_author_btn(href='#') [+]]
      div
        input(id='authors[0]', type='text', name='authors[0]',
        placeholder='Zaphod Beeblebrox')
    input(type='submit', value='Save')

  script(type='text/javascript', src='/js/new_project.js')
