extends layout

block content
  h1 New Project

  form(action='/projects', method='post')
    label(for='name') Name
      br
      input#name(type='text', name='name', placeholder='Yelp For Yelp Reviews')
    br
    label(for='description') Description
      br
      textarea#description(name='description',
        placeholder="It's like Yelp, but for Yelp reviews.")
    br
    label(for='url') Website (if applicable) <small>optional</small>
      br
      input#url(type='text', name='url',
      placeholder='https://yelpforyelpreviews.com')
    br
    label(for='githubURL') GitHub Repo URL
      br
      input#githubURL(type='text', name='githubURL',
      placeholder="https://github.com/hackedu/yelp-for-yelp-reviews")
    br
    label(for='club') Club
      br
      select#club(name='club')
        option(value='Armijo High School') Armijo High School
        option(value='Austin High School') Austin High School
        option(value='Bronx High School of Science') Bronx High School of Science
        option(value='Camino Nuevo High School') Camino Nuevo High School
        option(value='Cherry Hill High School East') Cherry Hill High School East
        option(value='College Park High School') College Park High School
        option(value='Columbia Secondary School') Columbia Secondary School
        option(value='Cranbrook Schools') Cranbrook Schools
        option(value='Crenshaw High School') Crenshaw High School
        option(value='Downey High School') Downey High School
        option(value='Elizabeth High School') Elizabeth High School
        option(value='El Segundo High School') El Segundo High School
        option(value='Garfield Senior High School') Garfield Senior High School
        option(value='Gig Harbor High School') Gig Harbor High School
        option(value='Glenaeon Rudolf Steiner School') Glenaeon Rudolf Steiner School
        option(value='Gunn High School') Gunn High School
        option(value='Hack Camp') Hack Camp
        option(value='HS Hackers/Coded with Kids Meetup') HS Hackers/Coded with Kids Meetup
        option(value='Huntington Park High School') Huntington Park High School
        option(value='International Academy East') International Academy East
        option(value='Linda Márquez High School') Linda Márquez High School
        option(value='Locke High School') Locke High School
        option(value='Los Altos High School') Los Altos High School
        option(value='Lowell High School') Lowell High School
        option(value='Lower Moreland High School') Lower Moreland High School
        option(value='Menlo School') Menlo School
        option(value='Middlesex County Academy') Middlesex County Academy
        option(value='Mission Vista High School') Mission Vista High School
        option(value='Morris County School of Technology') Morris County School of Technology
        option(value='Mundelein High School') Mundelein High School
        option(value='Oscar de la Hoya Ánimo Charter High School') Oscar de la Hoya Ánimo Charter High School
        option(value='Project Cipher') Project Cipher
        option(value='Raleigh Charter High School') Raleigh Charter High School
        option(value='Ravenwood High School') Ravenwood High School
        option(value='Robert F. Kennedy Community Schools') Robert F. Kennedy Community Schools
        option(value='San Francisco University High School') San Francisco University High School
        option(value='San Leandro High School') San Leandro High School
        option(value='San Mateo High School') San Mateo High School
        option(value='Santa Teresa High School') Santa Teresa High School
        option(value='South Brunswick High School') South Brunswick High School
        option(value='The Shri Ram School - DLF Campus') The Shri Ram School - DLF Campus
        option(value='Thunderridge High School') Thunderridge High School
        option(value='Townsend Harris High School') Townsend Harris High School
        option(value='Twin Cities Academy') Twin Cities Academy
        option(value='USC Hybrid High School') USC Hybrid High School
        option(value='West Adams High School') West Adams High School
        option(value='West Orange High School') West Orange High School
    br
    label(for='event') Event
      select#event(name='event')
        option(value='N/A') N/A
        option(value='MHacks Spring 2015') MHacks Spring 2015
        option(value='Hacking Generation Y') Hacking Generation Y
        option(value='PennApps Spring 2015') PennApps Spring 2015
    br
    label#authors Authors #[a#add_author_btn(href='#') [+]]
      div
        input(id='authors[0]', type='text', name='authors[0]',
        placeholder='Zaphod Beeblebrox')
    input(type='submit', value='Save')

  script(type='text/javascript', src='/js/new_project.js')
